<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>	
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ANMELDUNG </title>
  <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body oncontextmenu= "return false"">  
 <div class="form">
    <img th:src="@{/images/osi.jpg}" class="learning">
	 <h2> FunTestic</h2>
       <h1>Anmelden</h1>
	   <form class="p" id="loginForm">
		 <input type="text" id="username" placeholder="Benutzername" name="userid" value="" required>
		 <input type="password" id="password" placeholder="Passwort" name="pswd" value="" required>
		 <input type="submit" value="Anmelden">
		 <a href="passwortVergessen.html">Kennwort vergessen?</a><br>
		 <a href="registration.html">Noch nicht registriert?</a>
	   </form>
	   <script src="https://code.jquery.com/jquery-latest.js"></script>
	   <script type="text/javascript" th:src="@{/js/login.js}"></script>
 </div>
 
 <script language="javascript">
 function check (form){
     if(form.userid.value== "dew" && form.pswd.value == "123"){
	    window.open('home.html')
	 } else {
	 alert("Benutzername oder Kennwort sind nicht korrek")
	 }
 }
</script>
</body>
</html>
