<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Bestätigung </title>
  <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="form">
	<img th:src="@{/images/osi.jpg}" class="learning"></body>
	 <h2> FunTestic </h2>
	 <h1> Text Feld ( weiss ) </h1>
	  <h3> Text Feld (orange) </h3>
	</div>  
</body> 
</html>
