<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Insertionsort </title>
        <link rel="stylesheet" th:href="@{/css/theorie.css}" />
<meta name="viewport" content="width=device-width">
</head>
<body>
    <div class="menu">
	
	  <div class ="leftmenu">
	    <h5> FunTestic </h5>
		<img th:src="@{/images/osi.jpg}" class="learn">
	  </div>
	  <div class="rightmenu">
	   <ul>
	     <li><a href="home.html"> Home <a></li>
		 <li><a href="ueberuns.html"> Über uns </a></li>
		 <li> <a href="kontakt.html">Kontakt</a></li>
		  <li > <a href="anmelden.html"> Abmelden </a> </li>
	   </ul>
	  </div>
	 </div>
    <div class="form2">
	 <h2> Insertionsort Verfahren </h2>
	 
	 <h3> Die Funktionsweise von Insertionsort ähnelt der von Selectionsort. Wieder ist die Liste in einen sortierten und einen unsortierten Bereich aufgeteilt. Im Gegensatz zu Selectionsort wird beim Insertionsort-Algorithmus allerdings nicht immer nach dem kleinsten Element gesucht, sondern der Insertionsort-Algorithmus geht nach und nach die Elemente des Arrays durch und fügt diese im linken, sortierten Teil des Arrays an passender Stelle ein. </h3>

	 <img src="i.png" class="bsp">   
			  	  
</body> 
</html>
