<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kennwort vergessen</title>
   <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body onload='document.form1.Email.focus()'>
  <div class="form">
   <img th:src="@{/images/osi.jpg}" class="learning">
    <h2> FunTestic </h2>
    <h1>Bitte geben Sie Ihre E-Mail Adresse ein.</h1>
	<form name="form1" action="#" id="form1">

	<input type="text" id="email" placeholder="E-Mail" name="Email" value="">
		 
		 <input type="submit" id="submitButton" value="Passwort wiederherstellen">
		  
    </form>
   </div>
   	   <script src="https://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" th:src="@{/js/PasswortVergessen.js}"></script>

</body>
</html>
