<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
  <title>Kennwort vergessen</title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/styles.css">
</head>
<body>
  <div class="form">
   <img src="../../images/osi.jpg" class="learning"></body>
    <h2> FunTestic </h2>
    <h1>Bitte geben Sie Ihre E-Mail Adresse ein.</h1>
	<form>
		 <p><input type="text" placeholder="E-Mail" name="" value=""></p>
		  <input type="submit" name="" value="Passwort wiederherstellen">
    </form>
</body>
</html>