<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
  <title> REGISTRIERUNG </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="form">
    <img th:src="@{/images/osi.jpg}" class="learning">
	 <h2> FunTestic </h2>
	 <h1>Registrieren</h1>
	   <form id="RegisterForm" >
		 <p><input type="text" id="username" placeholder="Benutzername" name="" value="" required minlength=6 maxlength="12"></p>
		 <p><input type="text" id="email" placeholder="E-Mail" name="" value="" required minlength=6></p>
		 <p><input type="password" id="password" placeholder="Passwort " name="" value="" required></p>
		 <p><input type="password" id="passwordCompare" placeholder="Passwort wiederholen" name="" value="" required></p>
		 <input type="submit" id="submitButton" th:href="@{/anmelden}" name="" value="Registrieren">
	   	
	  	</form>
	   </div>
	    <script src="https://code.jquery.com/jquery-latest.js"></script>
		<script type="text/javascript" th:src="@{/js/registration.js}"></script>
    </body>
</html>