<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
  <title> REGISTRIERUNG </title>
    <link href="/static/resources/css/styles.css" rel="stylesheet">
    <link href="/static/resources/css/styles.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.js"></script>

</head>
<body>
    <div class="form">
    <img src="/static/resources/images/osi.jpg" class="learning">
	 <h2> FunTestic </h2>
	 <h1>Registrieren</h1>
	   <form id="RegisterForm" onsubmit="CallServletf('POST')">
		 <p><input type="text" placeholder="Benutzername" name="" value=""></p>
		 <p><input type="text" placeholder="E-Mail" name="" value=""></p>
		 <p><input type="password" placeholder="Passwort " name="" value=""></p>
		 <p><input type="password" placeholder="Passwort wiederholen" name="" value=""></p>
		 <input type="submit" name="" value="Registrieren">
	   </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </body>
</html>
