<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
  <title> REGISTRIERUNG </title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/styles2.css}" />
</head>
<body>
    <div class="form">
    <img th:src="@{/images/osi.jpg}" class="learning">
	 <h2> FunTestic </h2>
	 <h1>Registrieren</h1>
	   <form id="RegisterForm" action="@{/home}" onsubmit="CallServletf('POST')">
		 <p><input type="text" placeholder="Benutzername" name="" value=""></p>
		 <p><input type="text" placeholder="E-Mail" name="" value=""></p>
		 <p><input type="password" placeholder="Passwort " name="" value=""></p>
		 <p><input type="password" placeholder="Passwort wiederholen" name="" value=""></p>
		 <input type="submit" name="" value="Registrieren">
	   </form>
	       <script src="https://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" th:src="@{/js/registrationTest.js}"></script>
    </div>
    </body>
</html>