<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
   <link rel="stylesheet" th:href="@{/css/styles3.css}" />
</head>
<body>
    <div class="menu">
	
	  <div class ="leftmenu">
	    <h1> FunTestic </h1>
		<img th:src="@{/images/osi.jpg}" class="learning">
	  </div>
	  <div class="rightmenu">
	   <ul>
	     <li> <a href="home.html"> Home </a></li>
		 <li> <a href="ueberuns.html"> Über uns </a></li>
		 <li> <a href="kontakt.html">Kontakt</a></li>
		  <li > <a> Abmelden </a> </li>
	   </ul>
	  </div>
	  </div>
  <div class="wrapper">
	<div class="btn3">
		 <button type="button" >Test erstellen</button>
		  </div>
		 <div class="btn">
		 <div class="btn1">
	    <a href="home.html"><button type="button">Fächer</button></a> 
		</div>
		 <div class="btn2">
		  <a href="punkte.html"><button type="button" >Punkte</button></a>
		  </div>
		   <div class="btn4">
		  <a href="Benutzerprofil.html"><button type="button" >Benutzerprofil</button></a>
		  </div>
	     </div>
	   </div>
	  <script src="https://code.jquery.com/jquery-latest.js"></script>
	
 </body>
</html>
